body {
    background-image: url("../img/poto.jpg");
}

#boutonDuFormulaire {
	color:black;
	background-color: white;
	margin:20px;
	padding:10px;
}

h1{ width:50%;
	min-width: 400px; 
	margin:auto;
	padding:auto;
	text-align:center;
    font-size: 50px;
    border-style:double;
    font-family: 'Orbitron', sans-serif;
    color:white; 
     
     animation: colorchange 5s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
     -webkit-animation: colorchange 5s; /* Chrome and Safari */

     animation-iteration-count: infinite;
     -webkit-animation-iteration-count: infinite;
    }

    @keyframes colorchange
    {
      0%   {background: #e6005c;}
      25%  {background: #cc0052;}
      50%  {background: #b30047;}
      75%  {background: #cc0052;}
      100% {background: #e6005c;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #e6005c;}
      25%  {background: #cc0052;}
      50%  {background: #b30047;}
      75%  {background: #cc0052;}
      100% {background: #e6005c;}
    }
 
}

#question {
	background: white;
	margin-top: 150px;
	padding: 10px;
	color:black;
}

ul {
	color:white;
	list-style:none;
}
 
p {
	color:white;
}